{% extends "base.html" %}

{% block content %}
<form method="POST" style="width: 50%; margin-left: auto; margin-right: auto">
    {{ form.csrf_token }}

    {% for field in form %}
    <div class="form-group">
        {{ field.label }}
        {{ field(class="form-control") }}
        {% for error in field.errors %}
        <span class="badge badge-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}